.location{
    /* background-image: url("../../assets/locations.png");
    background-repeat: no-repeat;
    background-position: 90%; */
    font-family: var(--font-family);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-size: 35rem; */
}

.location img{
    width: 40%;
}

.location h3{
    font-size: 40px;
    font-weight: bolder;
}

.location h1{
    font-size: 70px;
    font-weight: bolder;
    color: var(--primary-color);
}

.location p{
    font-size: 20px;
    font-weight: bold;

}
.location span{
    color: var(--primary-color);
}

.location button{
    background-color: transparent;
    border-radius: 30px;
    border: solid var(--primary-color) 3px;
    width: 35%;
    height: 20%;
    color: var(--primary-color);
    font-weight: bold;  
}

@media screen and (max-width: 950px){
    .location img{
        width: 60%;
    }

    .location h3{
        font-size: 15px;
    }
    
    .location h1{
        font-size: 26px;
        
    }
    
    .location p{
        font-size: 10px;
    }

    .location button{
        width: 75%;
        height: 36%;
        font-size: 10px;
    }

    .location{
        padding: 30px
    }
}
