.food-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #e7e3e3;

}

.food-menu h1{
    font-family: var(--font-family);
    font-weight: 900;
    color: var(--primary-color);
    font-size: 4rem;
}

.food-menu p{
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--black-color);
    font-size: 1.5rem;
}

.menu-container{
    display: flex;
    gap: 25px;
    overflow: auto;
    width: 100%;
    white-space: nowrap;
    justify-content: center;
}

.menu-action{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;

}

@media screen and (max-width: 900px) {
    .menu-container{
        
    }
    
}
  