.navbar-flex-box{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}
.logo h1{
    font-family: var(--font-family);
    color: var(--primary-color);
}
.content{
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.menu{
    display: flex;

}
.menu a{
    font-family: var(--font-family);
    font-size: 18px;
    color: var(--black-color);
    text-decoration: none;
    margin-left: 2rem;
}
.navbar-action-button button{
    padding: 0.5rem;
    font-family: var(--font-family);
    border-radius: 20px;
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
}
.mobile-navbar-action-button button{
    padding: 0.5rem;
    font-family: var(--font-family);
    border-radius: 20px;
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
}
.mobile-navbar-action-button{
    display: none;
}
.mobile-menu{
    display: none;
    position: relative;
}
.mobile-menu-links{
    display: flex;
    flex-direction: column;
    border: 2px solid #111;
    padding: 2rem;
    border-radius: 10px;
    row-gap: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--black-color);
    z-index: 1;
    border: none;
}
.mobile-menu-links a{
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 20px;
    color: #ffffff;
}
svg{
cursor: pointer;
}

@media screen and (max-width:900px){
    .menu{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
}
@media screen and (max-width:550px){
    .navbar-action-button{
        display: none;
    }
    .mobile-navbar-action-button{
        display: block;
    }
}