@font-face {
  font-family: 'TT Commons';
  src: url('./fonts/TT Commons Regular.otf') format('truetype'); /* Adjust the path and font file name as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Commons Bolder';
  src: url('./fonts/TT Commons ExtraBold.otf') format('truetype'); /* Adjust the path and font file name as needed */
}
:root{
  --font-family : 'TT Commons', san-serif;
  --font-family-bold:'TT Commons Bolder';


  --primary-color:#f03153;
  --secondary-color:#ffffff;
  --tertiary-color:#ffc700;
  --black-color: #1c1c1c;
  --gray-color:#727272;

}